* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    Puri screen pe ek fixed image background lag raha hai 
    jo center pe position hoga, repeat nahi hoga, aur cover karega.
    */
.back {
    background-image: url("./images/image8.jpg");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Open Sans", sans-serif;
    /* color: #0c0c0c; */
    background-color: #ffffff;
    /* overflow-x: hidden; */
    /* Jab kisi element ke andar ka content bahar nikal raha ho (yaani size se zyada ho raha ho), to overflow: hidden use karte hain */
}

.nav-wrapper {
    flex: 1;
    /* Div main sara available space le le 
flex-shrink batata ha ke Kitna chhota ho sakta hai
flex-grow batata ha Kitna bara ho sakta hai*/
    display: flex;
    justify-content: flex-start;
}

/* navbar ka kam ha yahan */
.navbar {
    display: flex;
    /*  Navbar chahye spaced items ke sath to display: flex
        Badges (icon + text) ik line main cahye to display: inline-flex
        3 buttons side-by-side  cahye to display: inline-block
        Blog content area  display: block */
    align-items: center;
    background-color: transparent;
    padding: 30px 40px 0 90px;

}

.logo {
    /* display: inline-block; */
    font-family: 'Dancing Script', cursive;
    /* margin: 60px; */
}

.logo span {
    font-size: 42px;
    color: #ffffff;
}

.navbar-items {
    margin: 0 auto;
}

.navbar-items ul {
    display: flex;

}

.navbar-items ul li {
    list-style: none;
    /* margin-left: 200px; */
}

.navbar-items ul li a {
    font-size: 20px;
    color: #ffffff;
    margin: 0 20px;
    text-decoration: none;
    /* text-transform: uppercase; */
}

.navbar-items ul li a:hover {
    color: #ffbe33;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.ico {
    display: none;
    font-size: 25px;
    margin-right: 20px;
    color: #ffffff;
}

.icona {
    font-size: 25px;
    margin-right: 20px;
    color: #ffffff;
}

.button {
    font-size: 20px;
    padding: 13px 39px;
    color: white;
    margin-right: 60px;
    text-decoration: none;
    background-color: #ffbe33;
    border-radius: 45px;
    cursor: pointer;
}


/* Sidebar */
.Sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 48vh;
    width: 360px;
    z-index: 999;
    background-color: #0c0c0c;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-sidebar {
    position: relative;
    width: 20px;
}

.logo-sidebar span {
    position: absolute;
    right: 100px;
    color: #ffffff;
    font-size: 29px;
    font-family: 'Dancing Script', cursive;
}

.navbar-items-sidebar {
    display: flex;
    justify-content: center;
    text-align: center;
}

.cross-icon {
    position: relative;
}

.cross-icon i {
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top: 10px;
    left: 170px;
}

.navbar-items-sidebar li {
    /* width: 100%; */
    list-style: none;
    margin-top: 30px;
}

.navbar-items-sidebar li a {
    width: 10%;
    text-decoration: none;
    color: #ffffff;
}

.icons-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 40px;

}

.icons-sidebar i {
    font-size: 20px;
}

.icons-sidebar .button {
    font-size: 15px;
    padding: 10px 16px;
    margin: 10px;
    width: 90%;
    text-align: center;
}

/* .icons-sidebar a .button{
    font-size: 1rem;
    padding: 13px 16px;
    width: 90%;
    text-align: center;
} */

/* Ye Swiper slider ka kam keya ha
*/
.swiper {
    width: 100%;
    position: absolute;
    top: 5px;
    z-index: 10;
}

.swiper-slide {
    display: flex;
    justify-content: flex-start;
    padding: 80px;
    color: white;
}


/* .detail{
    position: absolute;
    top: 15%;
    margin: 80px;
    padding: 80px;
    color: #ffffff;
 } */

.detail h1 {
    font-size: 70px;
    margin-bottom: 25px;
    line-height: 1;
    font-family: "Dancing Script", system-ui;
    color: #ffffff;
}

.detail p {
    max-width: 660px;
    font-size: 19px;
    margin-bottom: 60px;
    color: #ffffff;
    line-height: 1.3;
}

.btn {
    font-size: 20px;
    padding: 16px 55px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ffbe33;
    /* border: 1px solid black; */
    border-radius: 45px;
}

.offer_section {
    position: relative;
    padding-top: 45px;
}

.offer {
    display: flex;

}

/* Offer section ke cards  banaya ha yahan par */
.offer_one {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px 50px;
    max-width: 900px;
    width: 45%;
    gap: 40px;
    margin: 50px auto;
    background-color: #222831;
    /* border: 2px solid black; */
    border-radius: 10px;

}

.card_image {
    display: inline-flex;
    width: 200px;
    height: 200px;
    border: 8px solid #ffbe33;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_image img {
    /* max-width: 200px;
    border-radius: 100%;
    border: 8px solid #ffbe33;
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-in ease-out; */

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.card_image img:hover {
    transform: scale(1.12);
}

.card_content h5 {
    font-family: "Dancing Script", cursive;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 15px;
}

.card_content h6 {
    font-family: "Dancing Script", cursive;
    font-size: 24px;
    color: #ffffff;
}

.card_content span {
    font-family: "Dancing Script", cursive;
    font-size: 35px;
    color: #ffffff;
}

.card_content button {
    /* justify-content: center; */
    align-items: center;
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #ffbe33;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.offer_two {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 30px 50px;
    max-width: 900px;
    width: 45%;
    gap: 40px;
    margin: 50px auto;
    background-color: #222831;
    /* border: 2px solid black; */
    border-radius: 10px;
}

.menu_box {
    text-align: center;
    padding: 20px 40px;
}

.menu_box .text h1 {
    position: relative;
    font-size: 40px;
    color: #222;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-family: "Dancing Script", cursive;
}

.filters_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.filters_menu button {
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: #ffffff;
    font-size: 20px;
}

.filters_menu button:hover {
    border-radius: 20px;
    padding: 12px;
    background-color: #e49e00;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /* 1 se zyada boxes ha or woh ek line mein fit nahi ho rahe to flex wrap se jo box line main nahi a rahe woh next line main a jaen ga  */
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
    background-color: #fdfdfd;
}

.product {
    display: flex;
    flex-wrap: wrap;
    /* 1 se zyada boxes ha or woh ek line mein fit nahi ho rahe to flex wrap se jo box line main nahi a rahe woh next line main a jaen ga  */
    justify-content: center;
    padding: 40px 20px;
    gap: 30px;

}

.card {
    /* background-color: #fff; */
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(12, 12, 12);
}

.cards_image {
    width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0 0 0 45px;
    background-color: rgb(220, 219, 219);
}

.cards_image img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    padding: 40px;
    border-radius: 0 0 0 45px;
    transition: transform 0.2s ease-in-out;

}

.cards_image img:hover {
    transform: scale(1.12);
}

.card_detail {
    /* text-align:start; */
    padding: 30px;
    margin-top: 15px;
    flex-grow: 1;
}

.card_detail h1 {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 20px;
}

.card_detail p {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.4;
}

.price {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price h1 {
    font-size: 22px;
    color: #ffffff;
}

.icona {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.card-btn {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.card-btn .cta {
    font-size: 20px;
    padding: 15px 55px;
    color: #ffffff;
    background-color: #ffbe33;
    text-decoration: none;
    border-radius: 45px;
    display: inline-block;

}

.about {
    background-color: #222831;
    color: #ffffff;
    margin-top: 90px;
    padding: 70px 30px;
}

.about-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 30px;
}

.about-image img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.about-detail {
    max-width: 700px;
    padding: 10px;
    text-align: start;
}

.about-detail h1 {
    font-size: 60px;
    margin-bottom: 25px;
    line-height: 1;
    font-family: "Dancing Script", system-ui;

}

.about-detail p {
    font-size: 19px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.about-detail button {
    align-items: center;
    padding: 15px 40px;
    margin-top: 10px;
    background-color: #ffbe33;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.contact {
    padding: 40px 60px;
}

.contact-card-heading {
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 20px;
}

.contact-card-heading h1 {
    color: #0c0c0c;
    width: 100%;
    font-size: 50px;
    margin-top: 60px;
    font-family: "Dancing Script", system-ui;
}

.contact-card {
    max-width: 800px;
    padding: 10px;
    display: flex;
    gap: 40px;
}

.contact-card-input {
    /* flex: 1; */
    min-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-card-input input,
.contact-card-input select {
    padding: 20px 17px;
    font-size: 19px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.contact-card-input button {
    align-items: center;
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #ffbe33;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}

.about-card-image {
    flex: 1;
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-image iframe {
    width: 100%;
    height: 100%;
    max-width: 900px;
    min-height: 300px;
}

.contact-card-input button {
    width: 35%;
    padding: 16px 1px;
    cursor: pointer;
    border: 1px solid #e49e00;
    text-transform: uppercase;
}

.testimonial {
    padding: 40px 60px;
}

.testimonial-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-heading h1 {
    position: relative;
    font-size: 3rem;
    font-family: "Dancing Script", system-ui;
    margin-bottom: 35px;
}

.testimonial-cards-container {
    display: flex;
    max-width: 1800px;
}

.testimonial-card-heading-one {
    background-color: #222831;
    width: 95%;
    padding: 35px 30px;

}

.testimonial-card-heading-one h1 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 15px;
}

.testimonial-card-heading-one p {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.3;
}


.testimonial-image-one {
    /* width: 100%;
    height: 300px;
    padding: 0;
    margin: 0;
    position: relative;
    right: 25%;
    overflow: hidden;
    border-radius: 45%;
    border: 3px solid #e49e00; */
    height: 100px;
    width: 100px;
    border: 8px solid #ffbe33;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.testimonial-image-one img {
    /* width: 80%;
    height: 70%;
    object-fit: contain;
    padding: 20px;
    border-radius: 0 0 0 45px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.arrow {
    position: relative;
    width: 14%;
    margin: 0
}

.arrow-up {
    position: absolute;
    top: -12%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffbe33;
}

/* 
.testimonial-card-heading-two{
    background-color: #222831;
    height: 40%;
    width: 90%;
} */


.footer {
    padding: 60px 100px;
    background-color: #222831;
}

.footer-detail {
    display: flex;
    justify-content: space-around;

}

.contactUs {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.contactUs h1 {
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: "Dancing Script", cursive;
}

.contactus-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #ffffff;
}

.contactUs i {
    display: flex;
    font-size: 20px;
    gap: 10px;
    color: #ffffff;
    line-height: 1.3;
}

.contactUs i:hover {
    color: #ffbe33;
    cursor: pointer;
}

.logoclass {
    flex-direction: column;
    max-width: 700px;
    /* padding: 30px; */
}

.logos {
    text-align: center;
}

.logos a {
    text-decoration: none;
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    color: #ffffff;
}

.logos p {
    margin-top: 20px;
    font-size: 21px;
    color: #ffffff;
    max-width: 490px;
    line-height: 1.4;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a {
    /* color: #ffffff;
    text-decoration: none; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #222831;
    margin: 20px 4px;
    text-decoration: none;
}

.footer-social a i {
    font-size: 26px;
}

.footer-social a i:hover {
    color: #ffbe33;
}

.timingclass {
    flex-direction: column;
    gap: 30px;
}

.timingclass h1 {
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 30px;
    font-family: "Dancing Script", cursive;
}

.timing {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.timing-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.timingclass p {
    margin-top: 5px;
    font-size: 18px;
    color: #ffffff;
}

.footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.footer-info p {
    color: #ffffff;
    line-height: 3;
    font-size: 20px;
}


@media (max-width: 400px) {

    .hide {
        display: none;
    }

    .ico {
        display: flex;
    }

    .logo {
        position: absolute;
        left: 19px;
    }

    .Sidebar {
        width: 100%;
    }



    /* .back{
        width: 110%;
        height: auto;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .navbar-items ul{
        flex-direction: column;
        gap: 20px;
    }

    .icons{
        margin-top: 10px;
    }

    .button{
        
        display: block;
        margin: 10px auto;
    } */


    .swiper-slide {
        padding: 20px;
        text-align: left;
    }

    .swiper-slide h1 {
        max-width: 200px;
        font-size: 50px;
        line-height: 3.9rem;
        margin-top: 2rem;
    }

    .swiper-slide p {
        font-size: 1.3rem;
        line-height: 1.6rem;
        max-width: 390px;
    }

    .btn {
        display: inline-block;
        padding: 15px 60px;
        font-size: 1.3rem;
        margin-top: 10px;
    }

    .swiper {
        padding-bottom: 40px;
        /* space for pagination dots */
    }


    .offer {
        display: block;
    }

    .offer_one {
        display: block;
        width: 88%;
        align-items: center;
        text-align: center;
    }

    .card_content h5 {
        font-size: 1.7rem;
    }

    .card_content button {
        font-size: 1.2rem;
        padding: 15px 20px;
    }


    .offer_two {
        display: block;
        width: 88%;
        text-align: center;
    }

    .filters_menu {
        display: block;
    }

    .filters_menu button {
        align-items: center;
    }


    .about-card {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-image {
        width: 100%;
        height: auto;
    }

    .about-detail h1 {
        font-size: 3rem;
    }

    .contact {
        padding: 20px;
    }

    .contact-card {
        display: block;
        /* padding: 0; */
        gap: 20px;
    }

    .contact-card-heading h1 {
        font-size: 2rem;
    }

    .contact-card-input {
        width: 100%;
        min-width: 100%;
    }

    .about-card-image {
        min-width: 100%;
        width: 100%;
    }

    .contact-card-input input,
    .contact-card-input select {
        font-size: 1rem;
        padding: 10px;
    }

    .contact-card-input button {
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 10px;
    }

    .about-card-image iframe {
        height: 200px;
        min-height: 0;
    }

    .testimonial {
    padding: 20px;
  }

  .testimonial-heading h1 {
    font-size: 40px;
    text-align: center;
  }

  .testimonial-cards-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .testimonial-card-one {
    width: 100%;
    max-width: 330px;
  }

  .testimonial-card-heading-one {
    padding: 25px 20px;
    width: 100%;
  }

  .testimonial-card-heading-one h1 {
    font-size: 1rem;
  }

  .testimonial-card-heading-one p{
    font-size: 1rem;
  }
  .testimonial-image-one {
    width: 80px;
    height: 80px;
    margin: 20px auto 0 auto;
  }

  .testimonial-image-one img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    right: 100px;
  }

  .arrow-up {
    margin-top: 20px;
  }
}